In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
df = pd.read_csv('gg.csv', converters={'bit': str})

In [48]:
df

    id          bit  len
0    9            0    4
1    8            1    4
2   13          100    5
3   12          101    5
4    7           11    4
5    1           10    3
6    6          110    4
7    5          111    4
8    4         1000    4
9   20       100100    6
10  19       100101    6
11  18       100110    6
12  17       100111    6
13   3         1010    4
14  11        10110    5
15  10        10111    5
16   2         1100    4
17  16       110100    6
18  15       110101    6
19  14       110110    6
20  21      1101110    7
21  22     11011110    8
22  23    110111110    9
23  26  11011111100   11
24  25  11011111101   11
25  24   1101111111   10
26   0          111    3

In [49]:
df.sort_values(by='id', inplace=True)

In [51]:
df.set_index('id', inplace=True)

In [52]:
letters  = pd.Series(np.array(['blank', 'e', 't', 
                                             'a', 'o', 'i', 'n', 's', 
                                             'h', 'r', 'd', 'l', 'c', 
                                             'u', 'm', 'w', 'f', 'g', 
                                             'y', 'p', 'b', 'v', 'k', 
                                             'j', 'x', 'q', 'z']))

In [53]:
letters

0     blank
1         e
2         t
3         a
4         o
5         i
6         n
7         s
8         h
9         r
10        d
11        l
12        c
13        u
14        m
15        w
16        f
17        g
18        y
19        p
20        b
21        v
22        k
23        j
24        x
25        q
26        z
dtype: object

In [38]:
len(df)

27

In [56]:
pd.concat([df, letters], axis=1).rename(columns={0: 'letter', 'bit': 'encoding', 'len': 'length'})

       encoding  length letter
0           111       3  blank
1            10       3      e
2          1100       4      t
3          1010       4      a
4          1000       4      o
5           111       4      i
6           110       4      n
7            11       4      s
8             1       4      h
9             0       4      r
10        10111       5      d
11        10110       5      l
12          101       5      c
13          100       5      u
14       110110       6      m
15       110101       6      w
16       110100       6      f
17       100111       6      g
18       100110       6      y
19       100101       6      p
20       100100       6      b
21      1101110       7      v
22     11011110       8      k
23    110111110       9      j
24   1101111111      10      x
25  11011111101      11      q
26  11011111100      11      z

In [58]:
df['len'].sum()

np.int64(156)

In [5]:
db_connected = False

In [4]:
def read_csv(file_path):
    """Read a CSV file and return a DataFrame."""
    return pd.read_csv(file_path)

In [6]:
def connect_to_db(db_path):
    """Connect to a SQLite database and return the connection object."""
    global db_connected
    conn = sqlite3.connect(db_path)
    db_connected = True
    return conn

In [7]:
def concatenate_dataframes(dfs):
    """Concatenate a list of DataFrames into a single DataFrame."""
    return pd.concat(dfs, ignore_index=True)

In [8]:
import streamlit as st

ModuleNotFoundError: No module named 'streamlit'